<div class="main-content" style="padding-left: 35px;padding-right: 40px;text-align: justify;">
    <div class="breadcrumb-wrapper row">
        <div class="col-12 col-lg-3 col-md-6">
            <h4 class="page-title">About</h4>
        </div>
        <div class="col-12 col-lg-9 col-md-6">
            <ol class="breadcrumb float-right">
                <li><a href="/home">Home</a></li>
                <li class="active">/ About</li>
            </ol>
        </div>
    </div>
    <div class="nav-logo">
        <a href="/">
            <div class="centered-content">
                <b><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"
                        style="width: 250px;position: absolute;left: 400px;mix-blend-mode: multiply;" /></b>
            </div>
        </a>
        <p style="font-size: 140px;text-align: center;margin-left: 200px;"><strong>GREEN PLANT</strong></p><br>
        <p style="font-size: 35px;"><strong>INTRO TO WEBSITE</strong>
        <p>
        <p style="font-size: 25px;"><strong>GREEN PLANT</strong> is a user-friendly website designed to provide
            real-time information on plant conditions. The website's intuitive user interface offers a seamless
            experience for plant enthusiasts, gardeners, and indoor growers.This website shows us the current conditions
            of the plants by displaying the data outputted by sensors.</p>
        <p style="font-size: 25px;">In this website, there are several webpages which we can see on the side navigation
            bar.Home page displays the real time data of all sensors in graph form.Statistics also contain the graph
            data.Analysis page shows what are the limits of every sensor for which the plant grows safely.Alerts webpage
            is the place where any alerts or warnings are displayed indicating that sensor value is off limit i.e; the
            plant is stressed.Also there is Settings where you can change some settings of the website and customise it.
        </p>
        <br>
        <p style="font-size: 35px;"><strong>Uses of the website</strong></p>
        <p style="font-size: 25px;">Our website is a valuable tool for plant enthusiasts and caretakers, offering the
            following benefits:</p>
        <p style="font-size: 25px;"><strong>Optimized Plant Care: </strong>Users can tailor their care routines to each
            plant's unique needs by constantly monitoring and adjusting humidity, soil moisture, light, and air quality.
        </p>
        <p style="font-size: 25px;"><strong>Remote Monitoring: </strong>Accessible from any device with an internet
            connection, this website enables users to monitor their plants from anywhere, making it ideal for frequent
            travelers</p>
        <p style="font-size: 25px;"><strong>Data-Driven Decisions: </strong>Historical data and alerts empower users to
            make informed decisions about plant care, helping them prevent issues and promote plant growth.</p>
        <br>
        <p style="font-size: 35px;"><strong>About Developers</strong></p>
        <div class="pppp" style="display: flex;justify-content: space-between;">
            <div class="kpp" style="padding: 20px;width: 48%;">
                <p style="font-size: 25px;"><strong>Name: </strong>Adari Dileep Kumar</p>
                <p style="font-size: 25px;"><strong>Current Status: </strong>B.tech CSE,IIIT Hyderabad</p>
                <p style="font-size: 25px;font-style: italic;"><strong>Contact:
                    </strong>dileepkumar.adari@students.iiit.ac.in</p>
            </div>
            <div class="kpp" style="padding: 20px;width: 48%;">
                <p style="font-size: 25px;"><strong>Name: </strong>Gajawada Bharath</p>
                <p style="font-size: 25px;"><strong>Current Status: </strong>B.tech CSE,IIIT Hyderabad</p>
                <p style="font-size: 25px;font-style: italic;"><strong>Contact:
                    </strong>gajawada.bharath@students.iiit.ac.in</p>
            </div>
        </div>
        <div class="pppp" style="display: flex;justify-content: space-between;">
            <div class="kpp" style="padding: 20px;width: 48%;">
                <p style="font-size: 25px;"><strong>Name: </strong>Chaganti Venkata Karthikeya</p>
                <p style="font-size: 25px;"><strong>Current Status: </strong>B.tech CSE,IIIT Hyderabad</p>
                <p style="font-size: 25px;font-style: italic;"><strong>Contact:
                    </strong>chaganti.venkata@students.iiit.ac.in</p>
            </div>
            <div class="kpp" style="padding: 20px;width: 48%;">
                <p style="font-size: 25px;"><strong>Name: </strong>Sallepalle Naga Revanth Reddy</p>
                <p style="font-size: 25px;"><strong>Current Status: </strong>B.tech CSE,IIIT Hyderabad</p>
                <p style="font-size: 25px;font-style: italic;"><strong>Contact:
                    </strong>naga.revanth@students.iiit.ac.in</p>
            </div>
        </div>
    </div>
</div>