<div class="main-content">
  <div
    class="grid"
    style="
      display: grid;
      column-gap: 100px;
      justify-items: center;
      row-gap: 150px;
      flex-wrap: wrap;
    "
  >
    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2281910/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&type=line"
    ></iframe>

    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2281910/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&type=line"
    ></iframe>

    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2281910/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&type=line"
    ></iframe>

    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2281910/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&type=line"
    ></iframe>

    <iframe
      width="450"
      height="260"
      style="border: 1px solid #cccccc"
      src="https://thingspeak.com/channels/2281910/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&type=line"
    ></iframe>
  </div>
</div>
